"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "autocomplete-plus"
      "bracket-matcher"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    destroyEmptyPanes: false
  editor:
    invisibles: {}
    preferredLineLength: 100
    tabLength: 4
    confirmCheckoutHeadRevision: false
    fontFamily: "Dejavu Sans Mono"
    fontSize: 15
  "bracket-matcher":
    autocompleteSmartQuotes: false
    autocompleteBrackets: false
  "exception-reporting":
    userId: "03bbd3b5-76cc-0de6-fd83-c41c31c6bd08"
